<?php
$title = 'Editar Conta';
$this->headTitle($title);
?>

<h1><?= $this->escapeHtml($title) ?></h1>

<?php
$form->setAttribute('action', $this->url('account', ['action' => 'edit', 'id' => $id ]));
$form->setAttribute('class', 'form-horizontal');

$codcli = $form->get('codcli');
$codcli->setAttribute('readonly', true);

$code = $form->get('code');
$code->setAttribute('readonly', 'readonly');
$form->prepare();
?>

<?= $this->form()->openTag($form); ?>
<div class="form-group">
<?= $this->formRow($code); ?>
</div>
<div class="form-group">
<?= $this->formRow($codcli); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('codag')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('limit')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('account-type')); ?>
</div>
<div class="form-group">
<?= $this->formSubmit($form->get('submit')); ?>
</div>
<?= $this->form()->closeTag(); ?>
