<?php if (is_array($messages)): ?>
<?php foreach ($messages as $message): ?>
<div class="alert alert-warning">
<?= $message ?>
</div><!-- alert -->
<?php endforeach; ?>
<?php endif; ?>
<div class="panel panel-info">
    <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Agência</th>
                    <th>Cliente</th>
                    <th>Limite</th>
                    <th>Data Abertura</th>
                    <th>Tipo de Conta</th>
                    <th colspan="2">Movimento</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($accounts as $account): ?>
                <tr>
                    <td><?= $account->getCode() ?></td>
                    <td><?= $account->getAgency()->getName() ?></td>
                    <td><?= $account->getClient()->getName() ?></td>
                    <td><?= $account->getLimit() ?></td>
                    <td><?= $account->getOpenDate()->format('Y-m-d') ?></td>
                    <td><?= $account->getAccountType()->getDescription() ?></td>
                    <td><a class="btn btn-default" href="<?= $this->url('account-movement', ['action' => 'move', 'id' => $account->getCode()]) ?>">Movimentar</a></td>
                    <td><a class="btn btn-default" href="<?= $this->url('account-movement', ['action' => 'list', 'id' => $account->getCode()]) ?>">Extrato</a></td>
                    <td><a class="btn btn-default" href="<?= $this->url('account', ['action' => 'edit', 'id' => $account->getCode()]) ?>">Editar</a></td>
                    <td><a class="btn btn-default" href="<?= $this->url('account', ['action' => 'delete', 'id' => $account->getCode()]) ?>">Excluir</a></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<a href="<?= $this->url('account', ['action' => 'add']) ?>" class="btn btn-primary">Novo</a>'

