<table class="table table-hover">
    <thead>
        <tr>
            <th>Conta</th>
            <th>Agência: Nome</th>
            <th>Cliente: Nome</th>
            <th>Movimento: Tipo</th>
            <th>Movimento: Data</th>
            <th>Movimento: Valor</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($movements as $movement): ?>
        <tr>
            <td><?= $movement->getAccount()->getCode() ?></td>
            <td><?= $movement->getAccount()->getAgency()->getName() ?></td>
            <td><?= $movement->getAccount()->getClient()->getName() ?></td>
            <td><?= $movement->getType()->getDescription() ?></td>
            <td><?= $movement->getDate()->format('Y-m-d') ?></td>
            <td><?= $movement->getValue() ?></td>
        </tr>
    <?php endforeach; ?>
    </tbody>
</table>
