<?php if (is_array($messages)): ?>
<?php foreach ($messages as $message): ?>
<div class="alert alert-warning">
<?= $message ?>
</div><!-- alert -->
<?php endforeach; ?>
<?php endif; ?>

<?php
$title = 'Realizar Movimento';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
$form->setAttribute('action', $this->url('account-movement', ['action' => 'move', 'id' => $id]));
$form->setAttribute('class', 'form-horizontal');
$form->prepare();
?>
<?= $this->form()->openTag($form); ?>
<div class="form-group">
<?= $this->formRow($form->get('account')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('movement-type')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('value')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('date')); ?>
</div>
<div class="form-group">
<?= $this->formSubmit($form->get('submit')); ?>
</div>

<?= $this->form()->closeTag(); ?>
