<?php if (is_array($messages)): ?>
<?php foreach ($messages as $message): ?>
<div class="alert alert-warning">
<?= $message ?>
</div><!-- alert -->
<?php endforeach; ?>
<?php endif; ?>
<?php

$title = 'Adicionar novo cliente';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
$form->setAttribute('action', $this->url('client', ['action' => 'add']));
$form->setAttribute('class', 'form-horizontal');
$form->prepare();
?>
<?= $this->form()->openTag($form); ?>

<div class="form-group">
<?= $this->formRow($form->get('codcli')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('name')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('cpf')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('city')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('type-person')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('status')); ?>
</div>
<div class="form-group">
<?= $this->formSubmit($form->get('submit')); ?>
</div>

<?= $this->form()->closeTag(); ?>
