<?php

$title = 'Editar cliente';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
$form->setAttribute('action', $this->url('client', ['action' => 'edit', 'id' => $id ]));
$form->setAttribute('class', 'form-horizontal');

$codcli = $form->get('codcli');
$codcli->setAttribute('readonly', true);

$typePerson = $form->get('type-person');
$typePerson->setAttribute('checked', 'checked');
$form->prepare();
?>
<?= $this->form()->openTag($form); ?>

<div class="form-group">
<?= $this->formRow($codcli); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('name')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('cpf')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('city')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('type-person')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('status')); ?>
</div>
<div class="form-group">
<?= $this->formSubmit($form->get('submit')); ?>
</div>

<?= $this->form()->closeTag(); ?>
