<?php if (is_array($messages)): ?>
<?php foreach ($messages as $message): ?>
<div class="alert alert-warning">
<?= $message ?>
</div><!-- alert -->
<?php endforeach; ?>
<?php endif; ?>
<div class="panel panel-info">
    <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Pessoa J|F</th>
                    <th>Cidade</th>
                    <th>Situação</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($clients as $client): ?>
                <tr>
                    <td><?= $client->getCode() ?></td>
                    <td><?= $client->getName() ?></td>
                    <td><?= $client->getCpf() ?></td>
                    <td><?= $client->getTypePerson() ?></td>
                    <td><?= $client->getCity() ?></td>
                    <td><?= ($client->getStatus()) ? 'Ativo' : 'Inativo' ?></td>
                    <td><a class="btn btn-default" href="<?= $this->url('client', ['action' => 'edit', 'id' => $client->getCode()]) ?>">Editar</a></td>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<a href="<?= $this->url('client', ['action' => 'add']) ?>" class="btn btn-primary">Novo</a>'
