<?php

$title = 'Adicionar novo agência';
$this->headTitle($title);
?>
<h1><?= $this->escapeHtml($title) ?></h1>
<?php
$form->setAttribute('action', $this->url('agency', ['action' => 'add']));
$form->setAttribute('class', 'form-horizontal');
$form->prepare();
?>
<?= $this->form()->openTag($form); ?>

<div class="form-group">
<?= $this->formRow($form->get('codag')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('name')); ?>
</div>
<div class="form-group">
<?= $this->formRow($form->get('city')); ?>
</div>
<div class="form-group">
<?= $this->formSubmit($form->get('submit')); ?>
</div>

<?= $this->form()->closeTag(); ?>
