<?php if (is_array($messages)): ?>
<?php foreach ($messages as $message): ?>
<div class="alert alert-warning">
<?= $message ?>
</div><!-- alert -->
<?php endforeach; ?>
<?php endif; ?>
<div class="panel panel-info">
    <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Cidade</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($agencies as $agency): ?>
                <tr>
                    <td><?= $agency->getCode() ?></td>
                    <td><?= $agency->getName() ?></td>
                    <td><?= $agency->getCity() ?></td>
                    <td><a class="btn btn-default" href="<?= $this->url('agency', ['action' => 'edit', 'id' => $agency->getCode()]) ?>">Editar</a></td>
                    <td><a class="btn btn-default" href="<?= $this->url('agency', ['action' => 'delete', 'id' => $agency->getCode()]) ?>">Excluir</a></td>
                    <!--<td><a class="btn btn-default" href="<?= $this->url('agency', ['action' => 'listAccounts', 'id' => $agency->getCode()]) ?>">Ver Contas</a></td>-->
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

<a href="<?= $this->url('agency', ['action' => 'add']) ?>" class="btn btn-primary">Novo</a>'
